@model PokemonApp.Models.Pokemon

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar pokemon</h1>

<h3>¿Estás seguro que quieres eliminar este pokemon?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Región
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonRegion.Name)
        </dd>
        <dt class = "col-sm-2">
            Tipo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonType.Name)
        </dd>
        <dt class = "col-sm-2">
            Imagenes
        </dt>
        <dd class="col-sm-10 w-25">
            <img src="@Model.ImgPath" class="img-thumbnail" alt="@Model.Name"/>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Aceptar" class="btn btn-success" /> 
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </form>
</div>
