@model PokemonApp.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles pokemon</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Región
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonRegion.Name)
        </dd>
        <dt class = "col-sm-2">
            Tipo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonType.Name)
        </dd>
         <dt class = "col-sm-2">
            Imagenes
        </dt>
        <dd class="col-sm-10 w-25">
            <img src="@Model.ImgPath" class="img-thumbnail" alt="@Model.Name"/>
        </dd>
        @* <td class="w-25">
                <img src="@item.ImgPath" class="img-thumbnail" alt="@item.Name"/>
            </td>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> 
    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
</div>
