@model IEnumerable<PokemonApp.Models.Pokemon>


@{
    ViewData["Title"] = "Index";
}

<h1>Listado de pokemones</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear pokemon</a>
</p>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")  
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </p>
@*
    <div>
        @foreach (var item in Model.ToList())
        {
            <p>@item</p>
            @Html.CheckBox("")  
        }
    </div>*@
}
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Región
            </th>
            <th>
                Tipo
            </th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PokemonRegion.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PokemonType.Name)
            </td>
            <td class="w-25">
                <img src="@item.ImgPath" class="img-thumbnail" alt="@item.Name"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Ver</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
